fastapi
uvicorn
streamlit
scikit-learn
pandas
requests
joblib
altair
python-multipart
pydantic
reportlab==4.0.7
matplotlib
wordcloud
Pillow
transformers
torch
nltk>=3.8
google-generativeai
python-dotenv
